{
  # Email можно указать, чтобы Let’s Encrypt присылал уведомления (не обязательно).
  # email you@example.com
}

http://45.153.71.21 {
  reverse_proxy 127.0.0.1:8000
}

turist03.ru, www.turist03.ru {
  reverse_proxy 127.0.0.1:8000
}

superadmin.turist03.ru {
  @root path /
  redir @root /admin/login 302

  @login path /login
  redir @login /admin/login 302

  @legacy_superadmin path /superadmin /superadmin/*
  redir @legacy_superadmin /admin/login 302

  reverse_proxy 127.0.0.1:8000
}

crm.turist03.ru {
  @root path /
  redir @root /login 302

  reverse_proxy 127.0.0.1:8000
}
