{
  # Email можно указать, чтобы Let’s Encrypt присылал уведомления (не обязательно).
  # email you@example.com
}

{$DOMAIN_ROOT}, www.{$DOMAIN_ROOT}, {$DOMAIN_APP} {
  reverse_proxy app:8000
}

{$DOMAIN_SUPERADMIN} {
  @root path /
  redir @root /admin/login 302

  @login path /login
  redir @login /admin/login 302

  @legacy_superadmin path /superadmin /superadmin/*
  redir @legacy_superadmin /admin/login 302

  reverse_proxy app:8000
}

{$DOMAIN_CRM} {
  @root path /
  redir @root /login 302

  reverse_proxy app:8000
}
